
.sidebar {
    width: 4rem;
    height: 100vh;
    background-color: #333;
    color: #fff;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
    padding-left: 13px;
}

.sidebar-menu li span {
    height: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.38rem;
}

.node{
    background-color: #333;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5em;
}

.left-menu{
    background-color: #333;
    height: 100vh;
    color: #fff;
    width: 20rem;
    border-left: solid 1px #555;
    padding: 10px;
    text-align: center;
    overflow-y: auto;
}

.left-menu-button {
    background-color: #555;
    color: #fff;
    border: solid 1px #fff;
    width: 9rem;
    margin: 0.25rem;
}

.context-menu {
    background-color: #333;
    color: white;
    border-radius: 0.5em ;
}

.context-menu p {
    padding: 0 0.5em;
    margin: 0;
}

.context-menu p:hover {
    background-color: #555;
    cursor: auto;
    border-radius: 0.5em;
}