
.sidebar {
    width: 4rem;
    height: 100vh;
    background-color: #333;
    color: #fff;
}

.sidebar-menu {
    list-style: none;
    text-align: center;
    padding: 0;
}

.sidebar-menu li {
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    cursor: pointer;
    padding-left: 13px;
}

.sidebar-menu li:hover {
    background-color: #555;
}

.sidebar-menu li span {
    height: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.38rem;
}

.sidebar-icon {
    height: 1.5rem;
    width: auto;
}

.node{
    background-color: #333;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5em;
    height: 1.7rem;
    display: flex;
}

.node:hover {
    background-color: #555;
    cursor: pointer;
}

.node.selected{
    border: solid 2px #0f0;
}

.left-menu{
    background-color: #333;
    height: 100vh;
    color: #fff;
    width: 20rem;
    border-left: solid 1px #555;
    padding: 10px;
    text-align: center;
    overflow-y: auto;
}

.left-menu-button {
    background-color: #555;
    color: #fff;
    border: solid 1px #fff;
    width: 9rem;
    margin: 0.25rem;
}

.context-menu {
    background-color: #555;
    color: white;
    border-radius: 0.5em ;
    bottom: -55px;
    left: -50px;
}

.context-menu p {
    padding: 0 0.5em;
    margin: 0;
}

.context-menu p:hover {
    background-color: #333;
    cursor: auto;
    border-radius: 0.5em;
}

.selection-box{
    background-color: #333;
    color: white;
    border-radius: 0.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 1em;
    left: 50%;
    width: fit-content;
    padding: 10px;
    z-index: 1000;
}

.selection-box p{
    margin-top: auto;
    margin-bottom: auto;
}

.selection-box Button{
    margin-left: 5px;
}

response-message-container{
    top: 1em;
    right: 1em;
    position: fixed;
    z-index: 1000;
    text-align: center;
    border-radius: 0.5em;
    padding: 10px;
}

.sheets{
    display: flex;
    width: fit-content;
    position: fixed;
    background-color: #333;
    color: #fff;
    top: 1em;
    right: 1em;
    z-index: 1000;
    border-radius: 0.5em;
}

.sheet{
    flex: 1;
    border-right: solid 2px #fff;
    margin-top: auto;
    margin-bottom: auto;
}

.sheet.selectedSheet{
    background-color: #555;
    border-radius: 0.5em;
}

.sheet-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
}

.sheet:hover {
    background-color: #555;
    border-radius: 0.5em;
}

.nodeInfo-bar {
    background-color: #333;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    padding-bottom: 10px;
}

.top-bar p {
    cursor: pointer;
}

.tab-content {
    overflow-y: auto;
    width: fit-content;
    padding: 10px;
}

.tab-content.selected {
    background-color: #555;
}

.tab-content:hover {
    background-color: #555;
}
