
.reactflow-div{
    height: 100vh;
    width: 96vw;
}

.sidebar {
    width: 4rem;
    height: 100vh;
    background-color: #212529;
    color: #fff;
}

.sidebar-menu {
    list-style: none;
    text-align: center;
    padding: 0;
}

.sidebar-menu li {
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    cursor: pointer;
    padding-left: 13px;
}

.sidebar-menu li.selected {
    border-left: rgb(160, 48, 113) 3px solid;
}

.sidebar-menu li:hover {
    background-color: #555;
}

.sidebar-menu li span {
    height: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.38rem;
}

.sidebar-icon {
    height: 1.5rem;
    width: auto;
}

.node{
    background-color: #212529;
    color: #fff;
    padding: 20px;
    border-radius: 5em;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.node input {
    background-color: transparent;
    font-size: 11pt;
    margin: 0;
    border: none;
    height: 100%;
    width: auto;
    vertical-align: middle;
    outline: none;
}

.node p {
    margin: 0;
}

.node Button {
    margin: 0;
    height: 90%;
    padding: 0 0.5em; 
}

.node.Element-wise {
    background-color: mediumblue;
    color: white;
}

.node.Normalization {
    background-color: cornflowerblue;

}

.node.Regularization {
    background-color: orange;
    color: black;
}

.node.Operations.on.blocks {
    background-color: darksalmon;
    color: black;
}

.node.Reshaping.Layers {
    background-color: teal;
    color: white;
}

.node.Activation {
    background-color: rebeccapurple;
    color: white;
}

.node.Convolutional.Layers {
    background-color: darkolivegreen;
    color: white;
}

.node.Convolutional.Layers:hover {
    background-color: #555;
    cursor: pointer;
}

.node:hover {
    background-color: #555;
    cursor: pointer;
}

.node.selected{
    border: solid 2px #0f0;
}

.invisible-node{
    background-color: #333;
    padding-left: 7px;
    padding-right: 7px;
    /* border-radius: 5em; */
    /* border: solid 2px #fff; */
    height: 4.5em;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 4.5em;
    display: flex;
}

.left-menu{
    background-color: #212529;
    height: 100vh;
    color: #fff;
    width: 16.666vw;
    border-left: solid 1px #555;
    border-right: solid 1px #555;
    padding: 10px;
    text-align: center;
    overflow-y: auto;
    z-index: 3;
}

.left-menu-button {
    color: #fff;
    border: solid 1px #fff;
    width: 9rem;
    margin: 0.25rem;
}

.left-menu-button-secondary {
    background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
    width: 9rem;
    margin: 0.25rem;
}

.context-menu {
    background-color: #555;
    color: white;
    border-radius: 0.5em ;
    bottom: -55px;
    left: -50px;
}

.context-menu p {
    padding: 0 0.5em;
    margin: 0;
}

.context-menu p:hover {
    background-color: #212529;
    cursor: auto;
    border-radius: 0.5em;
}

.selection-box{
    background-color: #333;
    color: white;
    border-radius: 0.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 2em;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    padding: 10px;
    z-index: 9999;
}

.selection-box p{
    margin-top: auto;
    margin-bottom: auto;
}

.selection-box Button{
    margin-left: 5px;
}

.sheets{
    display: flex;
    width: 100%;
    /* width: fit-content;   /* uncomment this to not have the sheets extended to the whole viewport */
    position: absolute;
    background-color: #212529;
    color: #fff;
    top: 3em;
    left: 0em;
    z-index: 1000;
    border-top: solid 1px #555;
    cursor: pointer;
    margin: 0;
    overflow-x: auto;
}

.sheet{
    flex: 1;
    text-align: center;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    border-right: #555 solid 2px;
}

.sheet p {
    height: 100%;
    align-content: center;
}

.sheet.selectedSheet{
    border-bottom: rgb(160, 48, 113) 5px solid;
}

.sheet-border {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    border: solid 4px black;
    background-color: white;
    z-index: 3;
}

.overlay {
    position: fixed;
    top: 0;
    left: 4rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 2;
}

.sheet:hover {
    background-color: #555;
}

.nodeInfo-bar {
    background-color: #212529;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 15em;
}

.top-bar-nodeInfo {
    display: flex;
    padding-bottom: 10px;
}

.top-bar-nodeInfo p {
    cursor: pointer;
}

.tab-content {
    overflow-y: auto;
    width: fit-content;
    padding: 10px;
}

.tab-content.selected {
    border-bottom: rgb(160, 48, 113) 3px solid;
}

.tab-content:hover {
    background-color: #555;
}

.app-name-bar {
    background-color: #212529;
    height: 3em;
    display: inline-flex;
    position: relative;
    top: 0;
    color: white;
    width: 100%;
    z-index: 1000;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
}

.app-name-bar h3 {
    text-align: center;
}

.app-name-bar Button {
    margin-left: 1em;
}

.confirmation-alert {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: fit-content;
    background-color: white;
    z-index: 1001;
}

.confirmation-alert Button {
    margin-left: 0.5em;
}

.analysis-container {
    background-color: #212529;
    border-left: solid 1px #555;
    z-index: 1000;
    position: absolute;
    color: #fff;
    display: flex;
    left: 4rem;
    flex-direction: column;
    width: 96.33vw;
    height: 100vh;
    overflow-y: auto;
}

.help-page {
    background-color: #212529;
    border-left: solid 1px #555;
    z-index: 1000;
    position: absolute;
    color: #fff;
    display: flex;
    left: 4rem;
    flex-direction: column;
    width: 96.33vw;
    height: 100vh;
    overflow-y: auto;
    padding: 25px;
}

.help-page h2{
    padding-top: 10px;
    padding-bottom: 10px;
}

.help-page h3 {
    padding-top: 20px;
}

.welcome {
    z-index: 100;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    border-radius: 2em;
    padding: 20px;
    width: fit-content;
    background-color: antiquewhite;
}